**/node_modules/
**/backend/cache/
**/backend/state/
**/.DS_Store
mounts/modules/default/**
!mounts/modules/default/
!mounts/modules/default/calendar/
!mounts/modules/default/calendar/node_helper.js
!mounts/modules/default/calendar/calendar.js
mounts/config/config.secret.js
DEPLOY_LOG.txt
install.env

