**/node_modules/
**/backend/cache/
**/backend/state/
**/.DS_Store
mounts/modules/default/**
!mounts/modules/default/calendar/
!mounts/modules/default/calendar/lt-holidays-2026.ics
mounts/config/config.secret.js

