services:
  magicmirror:
    container_name: mm
    image: run-magicmirror
    restart: always
    network_mode: host
    volumes:
      - /volume1/Docker/MagicMirror/mounts/config:/opt/magic_mirror/config
      - /volume1/Docker/MagicMirror/mounts/modules/MMM-PL-Flashbacks:/opt/magic_mirror/modules/MMM-PL-Flashbacks
      - /volume1/Docker/MagicMirror/mounts/modules/MMM-PL-VVT:/opt/magic_mirror/modules/MMM-PL-VVT
      - /volume1/Docker/MagicMirror/mounts/modules/MMM-WeatherTrends:/opt/magic_mirror/modules/MMM-WeatherTrends
      - /volume1/Docker/MagicMirror/mounts/modules/default/calendar/node_helper.js:/opt/magic_mirror/modules/default/calendar/node_helper.js
      - /volume1/Docker/MagicMirror/mounts/modules/default/calendar/lt-holidays-2026.ics:/opt/magic_mirror/modules/default/calendar/lt-holidays-2026.ics
      - /volume1/Docker/MagicMirror/mounts/positions.js:/opt/magic_mirror/js/positions.js
      - /volume1/Docker/MagicMirror/mounts/css/custom.css:/opt/magic_mirror/css/custom.css:ro
    environment:
      - TZ=Europe/Vilnius
      - MM_CONFIG_FILE=/opt/magic_mirror/config/config.js
      - MM_OVERRIDE_DEFAULT_MODULES=false
      - MM_DISABLE_POSITION_CACHE=true
  mmm-pl-backend:
    container_name: mmm-pl-backend
    image: mmm-pl-backend:0.1
    restart: always
    network_mode: host
    volumes:
      - /volume1/FamilyMedia:/media:ro
      - /volume1/Docker/MagicMirror:/cache
    environment:
      TZ: Europe/Vilnius
      MEDIA_ROOT: /media
      CACHE_DIR: /cache/flashbacks-cache
      STREAM_COUNT: "6"
      ALBUM_EXPOSE_SEC: "160"
      COLLAGE_GRID_ROWS: "3"
      COLLAGE_GRID_COLS: "3"
      OUTPUT_WIDTH: "1920"
      OUTPUT_HEIGHT: "1080"
      VVT_STOP_NAME: Vaduvos st.
      VVT_LIMIT: "10"
      WEATHER_LAT: "54.6401508"
      WEATHER_LON: "25.2059223"
      WEATHER_UNIT: celsius
      WEATHER_INTERVAL_MIN: "15"
      WEATHER_HISTORY_HOURS: "96"
      WEATHER_HISTORY_REFRESH_MIN: "15"
      WEATHER_FORECAST_REFRESH_MIN: "15"

